{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="{% static 'css/notes/dashboard.css' %}">
</head>
<body>

    <div class="dashboard">
        <div class="dashboard_header">
        </div>
        <div class="dashboard_container">

            <form class="select_container" method="post">
                {% csrf_token %}
                {% if tag_selected == all %}
                    <button value="all" name="tag" class="select-selected" style="--tag_color: black">
                        <div class="select_color" style="background-color: rgba(0,0,0,1)"></div>
                        <div class="select_text">all</div>
                    </button>
                {% else %}
                    <button value="all" name="tag" class="select" style="--tag_color: black">
                        <div class="select_color" style="background-color: rgba(0,0,0,1)"></div>
                        <div class="select_text">all</div>
                    </button>
                {% endif %}
                {% for tag in tags %}
                    {% if tag == tag_selected %}
                        <button value={{ tag.id }} name="tag" class="select-selected" style="--tag_color: {{tag.color}}">
                            <div class="select_color"></div>
                            <div class="select_text">{{ tag.title }}</div>
                        </button>
                    {% else %}
                        <button value={{ tag.id }} name="tag" class="select" style="--tag_color: {{tag.color}}">
                            <div class="select_color"></div>
                            <div class="select_text">{{ tag.title }}</div>
                        </button>
                    {% endif %}
                {% endfor %}
            </form>

            <div class="notes_container">

                {% csrf_token %}
                {% if tag_selected %}
                    {% for note in notes_taged %}
                        <div class="note">
                            <div class="note_left">
                                <div class="note_left_title">{{ note.title }}</div>
                                <div class="note_left_code_container">
                                    <div class="note_left_code">{{ note.code }}</div>
                                    <div class="note_left_copy">O</div>
                                </div>
                            </div>
                            <div class="note_right">
                                <div class="note_right_button"> V </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for note in all_notes %}
                        <div class="note">
                            <div class="note_left">
                                <div class="note_left_title">{{ note.title }}</div>
                                <div class="note_left_code_container">
                                    <div class="note_left_code">{{ note.code }}</div>
                                    <div class="note_left_copy">O</div>
                                </div>
                            </div>
                            <div class="note_right">
                                <div class="note_right_button"> V </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>


</body>
</html>