{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="{% static 'css/notes/dashboard.css' %}">
</head>
<body>

    <div class="dashboard">
        <div class="dashboard_header">
        </div>
        <div class="dashboard_container">
            <div class="select_container" method="post">
                <button id="all" value=0 name="tag_select" class="select" style="--tag_color: black">
                    <div class="select_color" style="background-color: rgba(0,0,0,1)"></div>
                    <div class="select_text">all</div>
                </button>
                {% for tag in tags %}
                    <button id="tag_select" value={{ tag.id }} name="tag_select" class="select" style="--tag_color: {{tag.color}}">
                        <div class="select_color"></div>
                        <div class="select_text">{{ tag.title }}</div>
                    </button>
                {% endfor %}
            </div>

            <div class="notes_container"  id='notes_container'>

            </div>
        </div>
    </div>
    {{all_notes_json|json_script:"all_notes_json"}}
    <script src="{% static 'js/notes/dashboard.js' %}"></script>
</body>
</html>