{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="{% static 'css/notes/dashboard.css' %}">
</head>
<body>

    <h1>{{ title }}</h1>

    {% if request.user.is_authenticated %}
    <a href="{% url 'log-out' %}">Logout<a/>
    {% else %}
    <a href="{% url 'log-in' %}">Login<a/>
    {% endif %}

    <div class="notes__container">
        <div class="notes__container--notes">NOTE HERE</div>
        <div class="notes__container--notes">NOTE HERE</div>
        <div class="notes__container--notes">{{ user }}</div>
    </div>

    <a class="button" href="{% url 'notes' %}">return</a>

</body>
</html>