{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'css/notes/test.css' %}">
</head>
<body>

    <h1>{{ title }}</h1>

    <link>https://yqnn.github.io/svg-path-editor/</link>

    <svg width="50%" height="50%" viewBox="0 0 100 100" version="1.1">
        <path fill="#FEC478" stroke-width="3" d="M 19 52 C 26 29 33 23 44 22 L 64 22 C 75 23 81 29 89 52 C 70 58 70 61 68 67 C 66 72 66 78 54 78 C 42 78 42 72 39 67 C 37 61 37 57 19 52"></path>
            <path fill="#FD4E26" stroke-width="3" d="M 19 52 M 25 36 C 32 36 45 48 46 57 C 47 68 50 69 54 69 C 58 69 61 68 62 57 C 68 37 78 38 83 36 C 79 28 71 22 63 22 C 57 22 51 22 45 22 C 34 23 29 28 25 36">
        </path>
    </svg>

</body>
</html>